# Our source control ignorances

# libraries for node.js
Server/node_modules

# our server start script with all of our super secret enviornment variables
Server/start.sh

# Files for communication terms between arduino and server
Server/api.js
Firmware/api.h

notes

# compilations of sparkcore firmware
core_firmware_*
Firmware/sparkcore/core_firmware_*

# more ignorance
Firmware/yun/nodeAccessControl/node_modules
Firmware/yun/nodeAccessControl/start.sh
